<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Discover New Species</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <header>
        <h1>New Life, New Lesson</h1>
    </header>
    <p>Here we present to you the perfect way to see and publish your discoveries on never-before-seen organisms.</p>
    <a href="/organisms">See what new living things have been discovered</a>
</body>
</html>