<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organisms</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/organism.css">
</head>
<body>
    <%- include('../partials/nav') %>
    <h2>Discovered Organisms</h2>

    <ul>
        <% organisms.forEach(organism => { %>
        <li><a href="/organisms/<%= organism._id %>"><%= organism.name %></a></li>
        <% }); %>
    </ul>

    <a href="/organisms/new">Add New Species</a>
</body>
</html>